.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: sticky;
  top: calc(var(--header-height) + 17px);
  height: fit-content;
  gap: 8px;
  transition: all 0.15s ease-in-out;
  // padding-top: 16px;

  p {
    transition: all 0.15s ease-in-out;

    opacity: 0;
  }
  &:hover {
    p {
      opacity: 1;
    }
  }
}

.navbar-item {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  opacity: 0.5;
  transition: all 0.15s ease-in-out;

  &:hover {
    opacity: 0.75;
  }
  &.active {
    opacity: 1;
  }
}
