.library-filters {
  position: absolute;
  right: 0;
  z-index: 40;
  height: calc(100% - var(--categories-tabs-height) - var(--header-height) - 1px);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin-top: calc(var(--categories-tabs-height) - 1px);
  background: var(--stp-background_muted);
  min-width: 300px;
  max-width: 300px;
}

.library-action {
  border-radius: 8px;
  padding: 4px;

  &:hover {
    background: var(--stp-background_muted);
  }
}

.update-check {
  &__trigger {
    display: flex;
    align-items: center;
  }

  &__content {
    z-index: 100;
    background: var(--stp-foreground_muted);
    padding: 4px;
    color: var(--stp-background);
    animation: contentHide 250ms ease-in forwards;
    border-radius: 4px;
  }

  &__content[data-expanded] {
    animation: contentShow 250ms ease-out;
  }

  &__progress {
    width: 100vw;
    position: absolute;
    top: calc(var(--header-height) - 3px);
    left: 0;
    z-index: 100;
    &-track {
      height: 2px;
    }
    &-fill {
      background: var(--stp-foreground);
      height: 100%;
      width: var(--kb-progress-fill-width);
      transition: width 250ms linear;
    }
  }
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: scale(0.96);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes contentHide {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.96);
  }
}
