body,
html {
  background: var(--stp-background);
  color: var(--stp-foreground);
  font-family: var(--app-font-family);
  scrollbar-width: thin;
}

* {
  color: var(--stp-foreground);
}

.bg-foreground {
  background: var(--stp-foreground);
}

.main-layout {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.icon-24 {
  svg {
    width: 24px;
    height: 24px;
  }
}

.icon-32 {
  svg {
    width: 32px;
    height: 32px;
  }
}
