.tooltip {
  &__trigger {
    display: flex;
    align-items: center;
  }

  &__content {
    z-index: 100;
    background: var(--stp-background_muted);
    padding: 4px;
    animation: contentHide 250ms ease-in forwards;
    border-radius: 4px;
  }

  &__content[data-expanded] {
    animation: contentShow 250ms ease-out;
  }
}
