.tabs {
  overflow-x: auto;
  width: 100%;
  scrollbar-width: none;
  overflow-y: hidden;
  position: fixed;
  top: calc(var(--header-height) + 1px);
  background: var(--stp-background);
  z-index: 41;
  height: var(--categories-tabs-height);
  border-bottom: 2px solid var(--stp-foreground_muted);
  white-space: nowrap;
  &__list {
    position: relative;
    display: flex;
    justify-content: start;
    height: 100%;
  }
  &__indicator {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    transition: all 0.25s ease-in-out;
    background-color: var(--stp-foreground);
  }
}
